menü{
    color: white;
    width: 100%;
    float: left;
}

menü > auswahl{
    background-color: rgb(22, 22, 22);
    height: 50px;
    width: 20%;
    float: left;
    text-align: center;
    cursor: pointer;
}



menü > auswahl.läufer{
    background-color: rgb(44, 17, 17);
    width: 16.6666%;
}

auswahl > auswahltext{
    position: relative;
    top: 15px;
}

.active{
    background-color: rgb(99, 143, 42);
}

.läufer.active{
    background-color: rgb(194, 10, 40);
}

auswahl:hover:not(auswahl.active){
    background-color: rgb(40, 40, 40);
}

auswahl.läufer:hover:not(auswahl.läufer.active){
    background-color: rgb(78, 25, 25);
}

@media screen and (max-width: 850px) {
    menü{
        width: 100%;
        margin: 0;
    }
  }