spieler{
    width: 9%;
    height: 12%;
    border-radius: 50%;
    position: absolute;
    margin: 0px;
    background-color: rgb(116, 21, 21);
}

spieler > spielertext{
    position: absolute;
    top: 2vw;
    left: 2vw;
    text-align: center;
    color: white;
}

spieler#zuspiel{
    top: 78%;
    left: 10%;
    transition-duration: 2s;
}

spieler#außen1{
    top: 78%;
    left: 56%;
    transition-duration: 2s;
}

spieler#mitte1{
    top: 44%;
    left: 56%;
    transition-duration: 2s;
}

spieler#diagonal{
    top: 10%;
    left: 56%;
    transition-duration: 2s;
}

spieler#außen2{
    top: 10%;
    left: 10%;
    transition-duration: 2s;
}

spieler#mitte2{
    top: 44%;
    left: 10%;
    transition-duration: 2s;
}


@media screen and (max-width: 850px) {
    spieler{
        width: 12%;
        height: 9%;
    }

    spieler#zuspiel{
        top: 78%;
        left: 10%;
        transition-duration: 2s;
    }
    
    spieler#außen1{
        top: 78%;
        left: 56%;
        transition-duration: 2s;
    }
    
    spieler#mitte1{
        top: 44%;
        left: 56%;
        transition-duration: 2s;
    }
    
    spieler#diagonal{
        top: 10%;
        left: 56%;
        transition-duration: 2s;
    }
    
    spieler#außen2{
        top: 10%;
        left: 10%;
        transition-duration: 2s;
    }
    
    spieler#mitte2{
        top: 44%;
        left: 10%;
        transition-duration: 2s;
    }

    spieler > spielertext{
        position: absolute;
        top: 4vw;
        left: 4vw;
        text-align: center;
        color: white;
    }
  }