body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

men端{
    width: 100%;
    position: relative;
}

men端 > auswahl{
    position: relative;
    float: left;
    width: 33.33%;
    padding-bottom: 99vh;
    background-color: rgb(20, 20, 20);
    opacity: 80%;
}

img{
    margin-top:10px;
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100vh;
    z-index: -1;
}

text{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: white;
  font-size: 80px;
}

men端 > auswahl:hover{
    background-color: greenyellow;
    opacity: 99%;
}

@media screen and (max-width:800px) {
    men端 > auswahl{
        width: 100%;
        padding-bottom: 33vh;
    }
    img{
        height: 33vh;
    }
}