body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    width: 100%;
    background-color: rgb(52, 126, 131);
    color: white;
    text-align: center;
    margin:0;
    font-size: 2em;;
}

menü{
    width: 100%;
    position: relative;
}

menü > auswahl{
    position: relative;
    float: left;
    width: 33.33%;
    padding-bottom: 99vh;
    background-color: rgb(20, 20, 20);
    opacity: 80%;
    transition-duration: 0.5s;
}

img{
    margin-top:10px;
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100vh;
    z-index: -1;
    transition-duration: 0.5s;
}

text{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: white;
  font-size: 80px;
  transition-duration: 0.5s;
}

menü > auswahl:hover{
    opacity: 99%;
    background-color: rgb(43, 255, 0);
    width: 50%;
}

menü > auswahl:hover > a > text{
    font-size: 150px;
    color:rgb(170, 23, 48);
    text-decoration: underline rgb(170, 23, 48);
}

menü:hover auswahl:not(:hover){
    width: 25%;
}

@media screen and (max-width:1200px) {
    menü > auswahl{
        width: 100%;
        padding-bottom: 33vh;
    }
    img{
        height: 33vh;
    }
    menü > auswahl:hover{
        opacity: 99%;
        background-color: rgb(43, 255, 0);
        width: 100%;
        padding-bottom: 50vh;
    }

    menü:hover auswahl:not(:hover){
        width: 100%;
        padding-bottom: 25vh;
    }

    auswahl:hover > a >  img{
        height: 50vh;
    }

    menü:hover auswahl:not(:hover) > a > img{
        height: 25vh;
    }

 
}