body{
    background-color: rgb(59, 59, 59);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.inputLeiste{
    width: 100%;
    margin: 0;
}

li{
    color: rgb(0, 0, 0);
    padding: 10px 0;
    background-color: rgb(22, 52, 61);
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 25px;
    color: white;
}

li:hover{
    background-color: rgb(26, 117, 117);
}

ul{
    margin: 0;
    display: block;
    padding: 0;
}

input{
    border-style: none;
    font-size: 25px;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 10px 0;
    background-color: rgb(29, 29, 29);
    color: white;
}

button{
    font-size: 25px;
    border-style: none;
    background-color: rgb(0, 255, 128);
    padding: 10px 0;
    width: 49%;
    margin: 0;
}

#delete{
    background-color: rgb(255, 0, 64);
}

#delete:hover{
    background-color: rgb(172, 0, 43);
}

button:hover{
    background-color: rgb(0, 156, 78);
}

loadbar{
    width: 100%;
    height: 20px;
    background-color: white;
    padding: 0;
    position: relative;
    float: left;   
}

#progressbar{
    background-color: green;
    height: 20px;
    padding: 0;
    width: 0;
    position: relative;
    float: left;
    transition: 2s;
}