feld{
    background-color: white;
    position: relative;
    float: left;
    width: 66.66vw;
    height: 50vw;
    margin-top: 10px;
    margin-left: 15vw ;
}

feld > Linie{
    background-color: red;
    position: absolute; 
    width: 0.5vw;
    height: 100%;
    margin: 0px;
}

feld > Linie.Netz{
    left: 75%;
}

Linie.dreiMeter{
    background-color: black;
    left: 50%;
}


@media screen and (max-width: 850px) {
    feld{
        width: 100%;
        height: 120vw;
        margin-top: 8vw;
        margin-left: 0;
    }
    feld > Linie.Netz{
        top: 30vw;
        height: 1vw;
        width: 100%;
        left: 0;
    }
    feld > Linie.dreiMeter{
        top: 60vw;
        height: 1vw;
        width: 100%;
        left: 0;
    }
  }